:root {
	--bg-color: white;
	--text-color: black;
	--link-color: rgb(118, 118, 40);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--link-color);
}
